<%= form_for(@pick) do |f| %>
  <% if @pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

      <ul>
      <% @pick.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :caption %><br>
    <%= f.text_field :caption, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Update Pick', class: 'btn btn-primary' %>
  </div>
<% end %>
