

<div class="panel panel-default">
<div class="panel-heading"><h1>Picks<h1></div>
<table class="table table-striped">







    <tbody>
	<% @picks.each do |pick| %>
	    <tr>
		<td><%= pick.caption %></td>
		<td><%= link_to 'Show', pick , class: 'btn btn-default'%></td>
		<td><%= link_to 'Edit', edit_pick_path(pick), class: 'btn btn-default' %></td>
		<td><%= link_to 'Destroy', pick, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
	    </tr>
	<% end %>
    </tbody>
</table>

<br>

</div>
<%= link_to 'New Pick', new_pick_path , class: 'btn btn-success'%>
